<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="../static/style.css">
     <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header class="header">

        <!-- LOGO -->
        <div class="logo">

            <a href="/" class="logo-link">

                <img src="../static/image/logo.png"
                     alt="Movie Review Logo"
                     class="logo-img">

            </a>

            <div class="logo-text" style="margin-left: 10px;" >

                <h1>
                    Movie <span>Review</span>
                    <p>   SENTIMENT SYSTEM </p>
                </h1> 

            </div>

        </div>

        <!-- NAVIGATION -->
        <nav class="navbar">

            <ul class="nav-links">

                <li>
                    <a href="index.html" >
                        Home
                    </a>
                </li>

                <li>
                    <a href="#predict">
                        Recommended Movies
                    </a>
                </li>

                <li>
                    <a href="#about" class="active">
                        About
                    </a>
                </li>

                <li>
                    <a href="/contact">
                        Contact
                    </a>
                </li>

            </ul>

        </nav>

    </header>




<div class="container">

    <h1>About Movie Review Sentiment System</h1>

    <p style="text-align: justify; line-height: 1.5rem;">The Movie Review Sentiment System is a web-based machine learning application 
        developed to analyze and classify movie reviews as either positive or negative. 
        The system uses Natural Language Processing (NLP) and Machine Learning algorithms 
        to determine the sentiment expressed in user-submitted movie reviews.
        This project provides users with a simple interface where they can enter movie 
        reviews and instantly receive sentiment predictions.
</p>

</div>

<script src="../static/script.js"></script>

<footer style="margin-top: 0.8rem;">
    <p style="font-size: small;">@ AI Group 14 Movie Review. All Right reserved.</p>
</footer>

</body>
</html>